.git
.github
.vscode
.venv
venv
__pycache__
.pytest_cache
.ruff_cache
*.py[cod]
*.log
.env
config.toml
backup
extensions/private
files/cookies
files/downloads
files/secrets
tests
testing.py
wip
useful-commands.md