.git
.github
.vscode
.venv
venv
__pycache__
.pytest_cache
.ruff_cache
*.py[cod]
*.log
.env
config.toml
backup
src/extensions/private
src/files/cookies
src/files/downloads
src/files/secrets
tests
testing.py
wip
useful-commands.md
