/config.toml
__pycache__/
/venv/
.env
*.log
/.vscode
/files/cookies/twitter-cookies.txt
/files/cookies/instagram-cookies.txt
/files/cookies/youtube-cookies.txt
/files/cookies/cobalt.json
/files/cookies/letterboxd-cookies.txt
/extensions/private
testing.py
/files/downloads/
/wip/
/backup