/config.toml
__pycache__/
/venv/
/.venv/
.env
*.log
/.vscode
/src/files/cookies/twitter-cookies.txt
/src/files/cookies/instagram-cookies.txt
/src/files/cookies/youtube-cookies.txt
/src/files/cookies/cobalt.json
/src/files/cookies/letterboxd-cookies.txt
/src/files/cookies/*
/src/extensions/private
testing.py
/src/testing.py
/src/files/downloads/*
!/src/files/downloads/blank.txt
/src/files/secrets/
/wip/
/backup
useful-commands.md
