git+https://github.com/gorialis/jishaku
git+https://github.com/Rapptz/discord-ext-menus
discord
isort
black
asyncpg
redis>=4.2.0rc1
asyncpg-stubs
yt-dlp
python-dateutil
playwright
lxml
parsedatetime
lru-dict
Pillow
pandas
beautifulsoup4
psutil